$fontColorButton: #f5f5f5;
$bgColorButton: #ef4444;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .username {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 30px;
        }
    }
}

.container {
    padding: 1rem;
}

.searchbar {
    padding: 10px;
    input[type=text] {
        height: 2.75rem;
        width: 18rem;
        border-radius: 10px;
        font-size: 1rem;
    }

    button {
        width: 6rem;
        height: 2.75rem;
        padding: 0.5rem;
        font-size: 1rem;
        color: $fontColorButton;
        // border: #f5f5f5;
        background-color: $bgColorButton;
        border-radius: 10px;
    }
}

table {
    width: 100%;

    border-collapse: collapse;
}

th,
tr,
td {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

// #addedform {
//     display: none; /* Hidden by default */
//     position: fixed; /* Stay in place */
//     z-index: 1; /* Sit on top */
//     padding-top: 100px; /* Location of the box */
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     overflow: auto; /* Enable scroll if needed */
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }


// #deletedform {
//     display: none; /* Hidden by default */
//     position: fixed; /* Stay in place */
//     z-index: 1; /* Sit on top */
//     padding-top: 100px; /* Location of the box */
//     left: 0;
//     top: 0;
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     overflow: auto; /* Enable scroll if needed */
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }