{
  "extends": ["./node_modules/@dwarvesf/react-eslint-config"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "io": true,
    "chrome": true
  },
  "parserOptions": {
    "ecmaVersion": 10,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json"],
    "createDefaultProgram": true,
    "sourceType": "module"
  },
  "rules": {},
  "overrides": [
    {
      "files": ["**/*.ts?(x)", "**/*.js?(x)"],
      "rules": {
        "react/react-in-jsx-scope": "off",
        "react/jsx-sort-props": "off",
        "react/function-component-definition": "off",
        "no-shadow": "off"
      }
    }
  ]
}
